<footer class="footer">
    <div class="row-fluid">
        <div class="span3">
            <ul>
                <li> <a href="/about">About</a></li>
                <li> <a href="/about">About</a></li>
            </ul>
        </div>
        <div class="span6">
            <p align="center">
            Connect with us on <a href="https://twitter.com/nouvouinc">Twitter</a>!
            </p>
        </div>
        <div class="span3">
            <p class="pull-right">
            Copyright &copy; 2012 Nouvou Inc. <br />
            Mountain View, California <br />
            </p>
        </div>
    </div>
</footer>


