<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            
            <div class="nav-collapse">
                <ul class="nav">
                    <li> <img src="assets/images/logo_name.png" width="150px" height="24px" alt="Nouvou" />
                    </li>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">Home</a></li>
                </ul>
                <% if true %>
                    <p class="navbar-text pull-right"><a href="/signout">Sign out</a></p>
                <% else %>
                    <p class="navbar-text pull-right"><a href="/signout">Sign out</a></p>
                <% end %>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
