<h1>Nouvou Key Management Server</h1>

<div class="container">
    <div class="row">
        <div class="span3">
            <p />
            <p> Don't have an account?</p>
        </div>
        <div class="span3">
            <p />
            <p align="right"> Already registered?</p>
            <p align="right"> <a href="/signin"  class="btn btn-primary
                btn-large">Signin</a> </p>
        </div>
    </div>
</div>

